:root {
  --main-color: #ff7b54;
  --white: #ffffff;

  --font-heading-size: 128px;
  --font-sub-heading-size: 40px;
  --font-button-size: 32px;
  --font-logo-size: 40px;
  --font-nav-size: 20px;
  --font-speaker-name-size: 32px;
  --font-company-size: 24px;
  --font-description-size: 24px;
}
